<div class="menuVips">
  <table>
       <thead>
            <tr>
                 <td><img src="/images/photos.png" alt="photos"></td>
            </tr>
       </thead>
       <tbody>
            <tr>
                 <td class="borderTop"><a href="/Photos/AjouterPhotoAccueil">Ajouter</a></td>
            </tr>
            <tr>
                 <td class="borderTop"><a href="/Photos/SupprimerPhotoAccueil">Supprimer</a></td>
            </tr>
     </tbody>
  </table>
</div>
