<div class="menuVips">
  <table>
       <thead>
            <tr>
                 <td><img src="/images/vips.png" alt="vips"></td>
            </tr>
       </thead>
       <tbody>
            <tr>
                 <td class="borderTop"><a href="/Vips/AjouterVipAccueil">Ajouter</a></td>
            </tr>
            <tr>
                 <td class="borderTop"><a href="/Vips/ModifierVipAccueil">Modifier</a></td>
            </tr>
            <tr>
                 <td class="borderTop"><a href="/Vips/SupprimerVipAccueil">Supprimer</a></td>
            </tr>
     </tbody>
  </table>
</div>
