<div class="connect">
  <h1>Administration</h1>
  </br>
  <form class="connect" action="/Connexion" method="post">
    <label>Identifiant : </label><input type="text" name="login">
    </br> </br>
    <label>Mot de passe : </label><input type="password" name="pwd">
    </br> </br>
    <div class="btnConnect">
      <button type="reset" name="cancel">Annuler</button>
      <button type="submit" name="connexion">Connexion</button>
    </div>
  </form>
</div>
